body {
font-size: 0.8em;
}

form > input {
font-size: 0.8em;
}
section#change_grid > form > input {
width: 5em;
}

section#mat {
 height: 300px;
   width:200px;
}

section#actions, section#state-list, section#characters,section#mat {
   margin-top: 1em; 
   margin-left: 1em;
   font-family: sans-serif;
   
}

nav { 
	float:left
}

section#mat {
    width: 70%;
    height: 780px;
    float:left;
    clear:both;
}

section#tokens {
float:left;
width:0;
}

img#map {
float:both;
position: relative;
left: 0px;
}
img.token {
position: relative;
left: 120px;
top: 20px;
z-index: 10;
float:left;
}

div#position {
position: absolute;
float:left;
visibility:hidden;
border: 2px solid #ffffff;
z-index: 10;
}

div.combat_list {
clear:both;
}
div.combat_link {
clear:both;
}

div.combat_link > div {
clear:both;
}
div.combat_link > a {
float: left;
}
div.combat_link  > form {
float: left;
}
 